/* CSS Document */


/* Upload Test */


/**
* Manefesto of the Staatliche Bauhaus
* Developed By: Josh Story
* Graphic Design, Annimation, and Sound Design by: Josh Story
**/

@font-face {
    font-family: 'Righteous-Regular';
    src: url('../fonts/Righteous-Regular.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --font-sans: 'Righteous-Regular', 'helvetica', sans-serif;
    --color-black: #000;
    --color-red: #f60001;
    --color-off_white: #f9e8c5;
    --color-blue: #4bc9f7;
    --color-yellow: #fff700;
    --color-white: #fff;
}

body {
    font-family: var(--font-sans);
    overflow-x: hidden;
    font-size: 1.35rem;
    line-height: 1.8rem;
    letter-spacing: .1rem;
    padding: 0rem 3rem 12rem;
    background-image: url("../img/piet_mondrian_bauhaus.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
    background-blend-mode: hard-light;
    background-color: var(--color-off_white);
}

main {
    max-width: 65vw;
    margin: 0 auto;
    background-color: var(--color-white);
    padding: 2.5rem;
    box-shadow: inset 3px 3px 20px .5px rgba(0, 0, 0, .8), inset -4px -4px 18px 1px rgba(255, 255, 255, 0.8);
    border: var(--color-black) 20px solid;
}

.main_vid {
    display: flex;
    justify-content: center;
}

.vid {
    min-width: 100%;
    max-width: 100%;
    border-radius: 30px;
    visibility: visible;
    animation: fadeIn 3.5s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#audio-control {
    cursor: pointer;
    padding: .5rem 2rem;
    background: var(--color-red);
    color: #fff;
    font-size: 1rem;
    border-radius: 30px;
    display: block;
    margin: 2rem auto;
    text-align: center;
    max-width: 13rem;
    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, .7);
    animation: fadeIn 1.5s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#audio-control:active {
    box-shadow: inset 5px 6px 10px rgba(0, 0, 0, .3);
}

.h1 {
    text-align: center;
    margin: 1.5rem 0 3rem;
    line-height: 4rem;
    padding-bottom: 3rem;
    border-bottom: 5px solid var(--color-black);
}

.h1_span {
    font-size: 150%;
}

.h1_span2 {
    font-size: 115%;
    line-height: 3rem;
}

.h1_2 {
    text-align: center;
    margin: 3rem 0;
    font-size: 1.6rem;
}

.h2 {
    text-align: center;
    margin: -2rem;
}

.p1 {
    margin: 2.5rem auto;
}

.key {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    margin: 3.5rem auto 1rem;
}

.key_info,
.key_crit,
.key_dis {
    font-size: .8rem;
    line-height: .8rem;
    padding: 1rem 1.2rem 1rem;
}

.key_swatchb {
    font-size: 1.3;
    color: var(--color-blue);
}

.key_swatchy {
    font-size: 1.3;
    color: var(--color-yellow);
}

.key_swatchr {
    font-size: 1.3;
    color: var(--color-red);
}

.key_blue {
    border-bottom: 3px dashed var(--color-blue);
}

.key_yell {
    border-bottom: 3px dashed var(--color-yellow);
}

.key_red {
    border-bottom: 3px dashed var(--color-red);
}

.foot {
    height: 30px;
    width: 100vw;
    padding: 0px;
    margin: 0px -3rem;
    background-color: var(--color-black);
    position: fixed;
    bottom: 0px;
}


/* informative Popover Styles */


/* inf.inf container */

.inf {
    position: relative;
    display: inline-block;
    border-bottom: 3px dashed var(--color-blue);
}

.inf .inf_text {
    visibility: hidden;
    width: 45vw;
    height: 100vh;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: var(--color-black) 20px solid;
    padding: 1rem 2rem;
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    text-align: left;
    box-shadow: -5px -5px 17px rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 1;
    bottom: 0rem;
    right: 0px;
    transition: opacity 0.3s;
    animation-name: slideinright;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    overflow: scroll;
}

.inf:hover .inf_text {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}


/* Critical Popover Styles */

.crit {
    position: relative;
    display: inline-block;
    border-bottom: 3px dashed var(--color-yellow);
}

.crit .crit_text {
    visibility: hidden;
    width: 45vw;
    height: 100vh;
    color: var(--color-black);
    background-color: var(--color-yellow);
    border: var(--color-black) 20px solid;
    padding: 1rem 2rem;
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    text-align: left;
    box-shadow: -5px -5px 17px rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 1;
    bottom: 0rem;
    right: 0px;
    transition: opacity 0.3s;
    animation-name: slideinright;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    overflow: scroll;
}

.crit:hover .crit_text {
    visibility: visible;
    opacity: 1;
    cursor: pointer !important;
}


/* Critical Popover Styles */

.dis {
    position: relative;
    display: inline-block;
    border-bottom: 3px dashed var(--color-red);
}

.dis .dis_text {
    visibility: hidden;
    width: 45vw;
    height: 100vh;
    color: var(--color-white);
    background-color: var(--color-red);
    border: var(--color-black) 20px solid;
    padding: 1rem 2rem;
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    text-align: left;
    box-shadow: -5px -5px 17px rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 1;
    bottom: 0rem;
    right: 0px;
    transition: opacity 0.3s;
    animation-name: slideinright;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    overflow: scroll;
}

.dis:hover .dis_text {
    visibility: visible;
    opacity: 1;
    cursor: pointer !important;
}


/* Individual Popover Styles */

.br {
    font-size: .5rem;
}

.anote_img {
    display: block;
    margin: 0 auto;
    max-width: 5vw;
}

.walt .grop {
    padding: 0 1.5rem;
    margin-top: -10rem;
}

.grop {
    background-image: url(../img/WalterGropius-1919.png);
    background-position: center;
    background-blend-mode: multiply;
}

.hx_h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.75rem;
    text-align: center;
    padding: 0px;
}

.building_1919 {
    background-image: url(../img/building_1919.png);
    background-blend-mode: multiply;
    background-size: cover;
}

.build {
    max-width: 30rem;
    margin: 3rem auto;
    border-radius: 30px;
    border: 2px inset var(--color-black);
    box-shadow: inset 6px 6px 18px 4px var(--color-black);
    mix-blend-mode: overlay;
}

.weim {
    margin-top: 1rem;
}

.me {
    max-width: 10rem;
    mix-blend-mode: luminosity !important;
    opacity: .5;
    border-radius: 500px;
}

.me_dis {
    max-width: 10rem;
    mix-blend-mode: multiply !important;
    opacity: .35;
    border-radius: 500px;
}

.ul_1919 {
    text-align: left;
    margin: 2.5rem 1rem 2.5rem -3.5rem;
}

.li_1919 {
    margin: 1rem 0;
    line-height: 1rem;
}

.comparison {
    display: inline-block;
    height: 20rem;
    margin: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
}

.build_house {
    max-width: 30rem;
    margin: 3rem auto;
    border-radius: 30px;
    border: 2px inset var(--color-black);
    box-shadow: inset 6px 6px 18px 4px var(--color-black);
}

.rooms_img {
    display: inline-block;
    height: 11rem;
    margin: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
}


/** Media Queries **/

@media screen and (min-width: 1720px) {
    .inf .inf_text,
    .crit .crit_text,
    .dis .dis_text {
        width: 42vw;
        animation-name: slideinright_m;
        animation-duration: 3.5s;
        animation-iteration-count: 1;
        animation-delay: 0.5s;
    }
}

@media screen and (min-width: 2000px) {
    .inf .inf_text,
    .crit .crit_text,
    .dis .dis_text {
        width: 38vw;
        animation-name: slideinright_l;
        animation-duration: 3.5s;
        animation-iteration-count: 1;
        animation-delay: 0.5s;
    }
}

@media screen and (min-width:1450px) {
    .key_br {
        display: none;
    }
}

@media screen and (max-width:1450px) {
    body {
        background-size: 64%;
    }
    main {
        max-width: 72rem;
    }
    .inf .inf_text,
    .crit .crit_text,
    .dis .dis_text {
        width: 65vw;
        animation-name: slideinright_2;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        animation-delay: 0.5s;
    }
}

@media screen and (max-width: 1150px) {
    *,
    body,
    h1,
    h2,
    p,
    ul {
        font-size: 98% !important;
    }
}


/* Animations */

@keyframes slideinright {
    from {
        margin-left: 100%;
        width: 0vw;
    }
    to {
        margin-left: 0px;
        width: 45vw;
    }
}

@keyframes slideinright_m {
    from {
        margin-left: 100%;
        width: 0vw;
    }
    to {
        margin-left: 0px;
        width: 42vw;
    }
}

@keyframes slideinright_l {
    from {
        margin-left: 100%;
        width: 0vw;
    }
    to {
        margin-left: 0px;
        width: 38vw;
    }
}

@keyframes slideinright_2 {
    from {
        margin-left: 100%;
        width: 0vw;
    }
    to {
        margin-left: 0px;
        width: 65vw;
    }
}